.env
secrets/.env
secrets/*.key
secrets/*.csr
secrets/*.crt
.vs*
node_modules
build
npm-debug.log
.DS_Store
frontend/css/output.css
frontend/ts/*.js
frontend/ts/gameUtils/*.js
backend/db/*.sqlite
TODO
backend/avatars/*
frontend/ts/gameUtils/babylon.d.ts