.env
ft/secrets/.env
ft/secrets/*.key
ft/secrets/*.csr
ft/secrets/*.crt
ft/*.jsonl
elk/secrets/.env
elk/secrets/*.key
elk/secrets/*.csr
elk/secrets/*.crt
.vs*
node_modules
ft/node_modules
build
npm-debug.log
.DS_Store
ft/frontend/css/output.css
ft/frontend/ts/*.js
ft/frontend/ts/gameUtils/*.js
ft/frontend/ts/homePage/*.js
ft/frontend/ts/*/*.js
ft/backend/db/*.sqlite
TODO
ft/TODO
ft/backend/avatars/*
ft/frontend/ts/gameUtils/babylon.d.ts
elk/**/data
elk/**/shapshots
