.env
ft/secrets/.env
ft/secrets/*.key
ft/secrets/*.csr
ft/secrets/*.crt
elk/secrets/.env
elk/secrets/*.key
elk/secrets/*.csr
elk/secrets/*.crt
.vs*
node_modules
build
npm-debug.log
.DS_Store
frontend/css/output.css
frontend/ts/*.js
frontend/ts/gameUtils/*.js
backend/db/*.sqlite
TODO
backend/avatars/*
frontend/ts/gameUtils/babylon.d.ts
elk/**/data
elk/**/shapshots
