<div class="app-wrapper-center">
    <div class="floater">
        <form class="update" id="tfa-form">
            <legend>Setup 2FA</legend>
            <div id="qr-wrapper">
            </div>
            <p>Enter the code from your app</p>
            <div class="digit-wrapper">
                <input type="text" maxlength="1" class="digit" required/>
                <input type="text" maxlength="1" class="digit" required/>
                <input type="text" maxlength="1" class="digit" required/>
                <span class="digit-dash">-</span>
                <input type="text" maxlength="1" class="digit" required/>
                <input type="text" maxlength="1" class="digit" required/>
                <input type="text" maxlength="1" class="digit" required/>
            </div>
            <div class="buttons">
                <button type="button" formnovalidate formaction="/update" class="cancel" id="cancel-form">Cancel</button>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>