<div class="app-wrapper-center">
    <div class="floater lg-floater">
        <form class="labeled" id="add-friend-form">
            <div class="add-friend no-margin">
                <label for="friend-input">Add New Friend</label>
                <input type="text" class="no-margin" id="friend-input" name="nickname" placeholder="Nickname">
                <input type="submit" class="no-margin" value="Invite">
            </div>
        </form>
        <p class="section-title">Friend Invitations</p>
        <div class="users-wrapper" id="friend-invitations-wrapper">
        </div>
        <p class="section-title">My Friends</p>
        <div class="users-wrapper users-wrapper-my-friends" id="friends-wrapper">
        </div>
    </div>
</div>