<div class="app-wrapper-center">
    <div class="floater">
        <div class="user-info">
            <div class="avatar">
                <img src="./assets/default-avatar.svg" alt="User avatar"><!-- default avatar from svgrepo.com -->
                <p>
                    <button id="edit-profile">
                        Edit profile
                    </button>
                </p>
            </div>
            <div class="vl"></div>
            <div class="user-stats">
                <span class="nickname">
                    <span class="tooltip">
                        <span class="tooltiptext">
                            Online
                        </span>
                        <svg>
                            <circle class="online-indicator" cx="6" cy="13" r="6"></circle>
                        </svg>
                    </span>
                    <span class="user-nickname">
                        wkornato
                    </span>
                </span>
                <div class="wins-losses">
                    <div>
                        <span>15</span>
                        <span>Wins</span>
                    </div>
                    <div>
                        <span>7</span>
                        <span>Losses</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-history-desktop require-log-in">
            <table>
                <caption>wkornato's Match History:</caption>
                <tr>
                    <th>Date</th>
                    <th>Player Count</th>
                    <th>Players</th>
                    <th>Initiator</th>
                    <th>Rank</th>
                </tr>
            </table>
        </div>
        <div class="match-history-mobile require-log-in">
            <p>wkornato's Match History:</p>
            <ol>
            </ol>
        </div>
    </div>
</div>