<div class="app-wrapper-center">
    <div class="floater">
        <div class="user-info">
            <div class="avatar">
                <img src="./assets/default-avatar.svg" alt="User avatar"><!-- default avatar from svgrepo.com -->
                <p>
                    <button class="edit-profile require-ownership">
                        Edit profile
                    </button>
                </p>
            </div>
            <div class="vl"></div>
            <div class="user-stats">
                <span class="nickname">
                    <span class="tooltip">
                        <span class="tooltiptext">
                            Online
                        </span>
                        <svg>
                            <circle class="online-indicator" cx="6" cy="13" r="6"></circle>
                        </svg>
                    </span>
                    wkornato
                </span>
                <div class="wins-losses">
                    <div>
                        <span>15</span>
                        <span>Wins</span>
                    </div>
                    <div>
                        <span>7</span>
                        <span>Losses</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-history-desktop require-log-in">
            <table>
                <caption>wkornato's Match History:</caption>
                <tr>
                    <th>Date</th>
                    <th>Player Count</th>
                    <th>Opponents</th>
                    <th>Initiator</th>
                    <th>Rank</th>
                </tr>
                <tr>
                    <td>2025-07-31 21:41:01</td>
                    <td>2</td>
                    <td class="overflow-x-auto max-w-[150px] whitespace-nowrap"><a href="/profile/pzurawic">pzurawic</a></td>
                    <td><a href="/profile/wkornato">wkornato</a></td>
                    <td>1st</td>
                </tr>
            </table>
        </div>
        <div class="match-history-mobile require-log-in">
            <p>wkornato's Match History:</p>
            <ol>
                <li><b>at 2025-07-31 21:41:01:</b><ul>
                    <li>Player Count: 2</li>
                    <li>Opponents:<ul>
                        <li><a href="/profile/pzurawic">pzurawic</a></li>
                    </ul></li>
                    <li>Initiator: <a href="/profile/wkornato">wkornato</a></li>
                    <li>Rank: 1st</li>
                </ul></li>
            </ol>
        </div>
    </div>
</div>